{# empty Twig template #}
{% extends "master.html.twig" %}

{% block title %}E&M Real State{% endblock %}

{% block content %}






 <div class="content">
            <div class="innercontent">
                <div class="leftpannel" id="leftpannel">

                    <div class="find">
                        <p class="leftpan1">Latest News</p>

                        <nav class="leftmenu">
                            <ul>

                                <li><a href="http://www.centris.ca/en/blog/tech-talk/latest-technologies-in-real-estate">Real State Technolgies</a></li>

                                <li><a href="http://www.centris.ca/en/blog/tech-talk/turn-a-regular-home-into-a-smart-home"> Smart Home</a></li>
                                <li><a href="https://comfree.com/bc/sell#everything-you-need"> Commission Free</a></li>




                            </ul>
                        </nav>


                    </div>
                    <div class="search">

                        <div class="buying"><a href=""> <img src="images/buyin.jpg" width="195" height="90" /></a> </div>
                        <div class="selling"><a href=""> <img src="images/selling.jpg" width="195" height="90" /></a> </div>
                    </div>

                </div>

                <div class="rightpannel" id="content">

                    <div class="welcome">
                        <div style="width:200px; height:30px; padding-bottom:5px"><img src="images/welcome.jpg" width="202" height="24" /></div>
                        <div style="width:573px; height:auto;font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3f3f3f; line-height:20px; text-align:left">
                            t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</div>
                    </div>
                    <div class="featured">&nbsp;</div>
                    <div class="featured1">
                        <div class="featuredinner">
                            <div class="fealeft"><a href=""><img src="images/home.jpg" /></a></div>
                            <div class="fearight"><span style="width:573px; height:auto;font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3f3f3f; line-height:20px; text-align:left">
                                    t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</span></div>
                        </div>
                    </div>
                    <div class="featured1">
                        <div class="featuredinner">
                            <div class="fealeft"><a href=""><img src="images/house2.jpg" width="108" height="76" /></a></div>
                            <div class="fearight"><span style="width:573px; height:auto;font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3f3f3f; line-height:20px; text-align:left">
                                    t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</span></div>
                        </div>
                    </div>
                    <div class="featured1">
                        <div class="featuredinner">
                            <div class="fealeft"><a href=""><img src="images/house3.jpg" width="108" height="76" /></a></div>
                            <div class="fearight"><span style="width:573px; height:auto;font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3f3f3f; line-height:20px; text-align:left">t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</span></div>
                        </div>

                    </div>


                </div>


            </div>

        </div>
    {% endblock content %}