<!DOCTYPE >
<html lang="en-us">
    <head>
        <title>{% block title %}{% endblock %}</title>
    {% block headExtra %}{% endblock %}
    <meta charset="UTF-8"  name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $('#myModal').modal('show');

        $(document).ready(function () {
            $("#emailInUse").hide();
            $("input[name=email]").keyup(function () {
                var email = $(this).val();
                //console.log("Keyup: " + email);
                if (email === "") {
                    $("#emailInUse").hide();
                    return;
                }
                $.get("/ajax/emailused/" + email, function (result) {
                    result = eval(result);
                    if (result) {
                        $("#emailInUse").show();
                    } else {
                        $("#emailInUse").hide();
                    }
                });
            });
        });

        $(document).ready(function () {

            $('#login_button').click(function () {

                var name = $('#name1').val();
                var password = $('#password1').val();
                var email = $('#email1').val();


                if (name !== '' && password !== '' && email !== '') {
                    $a.ajax({
                        url: "project.php",
                        method: "POST",
                        data: {name: name, password: password, email: email},
                        success: function (data) {
                            if (data == 'No') {
                                alert("Wrong Data");
                            } else {
                                $('#myModal').hide();

                                location.reload();
                            }
                        }

                    });

                } else {
                    alert("Fields are required");
                }



            });

            $('#registration_button').click(function () {

                var name = $('#name').val();
                var password = $('#password').val();
                var email = $('#email').val();
                var mobile = $('#mobile1').val();
                if (name !== '' && password !=='' && email !== '' && mobile !== '') {
                    $a.ajax({
                        url: "project.php",
                        method: "POST",
                        data: {name: name, password: password, email: email},
                        success: function (data) {
                            if (data == 'No') {
                                alert("Wrong Data");
                            } else {
                                $('#myModal').hide();

                                location.reload();
                            }
                        }

                    });

                } else {
                    alert("Fields are required");
                }
                $("#logout").click(function () {

                    var action = "logout";
                    $.ajax({
                        url: "project.php",
                        method: "POST",
                        data: {action, action},
                        success: function (data) {
                            location.reload();
                        }


                    });

                });
            });
        });
    </script>

    <link href="style1.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="main">
        <nav class="header">
            <img class="logo" src="images/logo1.jpg" width="229" height="36" />

            <ul>
                <li><a class="active" href="/index">Home</a></li>
                <li><a href="#news">About Us</a></li>
                <li><a href="/list">Properties</a></li>
                <li><a href="#" data-toggle="modal" data-target="#myModal">Login</a></li>
                <li><a href="/">Contact Us</a></li>

            </ul>

        </nav>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×</button>
                        <h4 class="modal-title" id="myModalLabel">
                            Login/Registration </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-8" style="border-right: 1px dotted #C2C2C2;padding-right: 30px;">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#Login" data-toggle="tab">Login</a></li>
                                    <li><a href="#Registration" data-toggle="tab">Registration</a></li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="Login">
                                        <form role="form" class="form-horizontal">
                                            <div class="form-group">
                                                <label for="email" class="col-sm-2 control-label">
                                                    Email</label>
                                                <div class="col-sm-10">
                                                    <input type="email" class="form-control" id="email1" placeholder="Email"  />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputPassword1" class="col-sm-2 control-label">
                                                    Password</label>
                                                <div class="col-sm-10">
                                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="password" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2">
                                                </div>
                                                <div class="col-sm-10">
                                                    <button type="submit" class="btn btn-primary btn-sm" id="login_button" >
                                                        Login</button>
                                                    <a href="javascript:;" class="forget" data-toggle="modal" data-target=".forget-modal">Forgot your password?</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="tab-pane" id="Registration">
                                        <form role="form" class="form-horizontal">
                                            <div class="form-group">
                                                <label for="email" class="col-sm-2 control-label">
                                                    Name</label>
                                                <div class="col-sm-10">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <select class="form-control">
                                                                <option>Mr.</option>
                                                                <option>Ms.</option>
                                                                <option>Mrs.</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-9">
                                                            <input type="text" class="form-control" placeholder="Name" valuE="name" id="name1" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="email" class="col-sm-2 control-label">
                                                    Email</label>
                                                <div class="col-sm-10">
                                                    <input type="email" class="form-control" id="email" placeholder="Email"  id="email1"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="mobile" class="col-sm-2 control-label">
                                                    Mobile</label>
                                                <div class="col-sm-10">
                                                    <input type="number" class="form-control" id="mobile" placeholder="Mobile"   id="mobile1"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="password" class="col-sm-2 control-label">
                                                    Password</label>
                                                <div class="col-sm-10">
                                                    <input type="password" class="form-control" id="password" placeholder="Password"  id="password1"/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2">
                                                </div>
                                                <div class="col-sm-10">
                                                    <button type="submit" class="btn btn-primary btn-sm" name="submit" id="registration_button">
                                                        Save & Continue </button>
                                                    <button type="cancel" class="btn btn-default btn-sm">
                                                        Cancel</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <a href="#" id="logout" >Logout</a>


                                <div id="OR" class="hidden-xs">
                                    OR</div>
                            </div>
                            <div class="col-md-4">
                                <div class="row text-center sign-with">
                                    <div class="col-md-12">
                                        <h3>
                                            Sign in with</h3>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="btn-group btn-group-justified">
                                            <a href="#" class="btn btn-primary">Facebook</a> <a href="#" class="btn btn-danger">
                                                Google</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="modal fade forget-modal" tabindex="-1" role="dialog" aria-labelledby="myForgetModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">×</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <h4 class="modal-title">Recovery password</h4>
                        </div>
                        <div class="modal-body">
                            <p>Type your email account</p>
                            <input type="email" name="recovery-email" id="recovery-email" class="form-control" autocomplete="off" id="email2">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-custom">Recovery</button>
                        </div>
                    </div> <!-- /.modal-content -->
                </div> <!-- /.modal-dialog -->
            </div> <!-- /.modal -->


        </div>
        <div class="headerimage">
            <div class="headeriamge1">
                <div class="house"></div>
            </div>
            <div class="headerimage2">
                <div class="search1">Find a Property</div>

                <div class="go">
                    <div>
                        <input class="searchAddress" type="text" placeholder="Search by City,Address,.." />
                    </div>
                    <button class="searchbtn">search</button>
                </div>

            </div>
        </div>

        <div id="content">
        {% block content %}{% endblock %}
    </div>

    <footer class="footer">
        <div class="text"> &copy; Copyright 2017 </div>

    </footer>

</div>
</body>
</html>
