{# empty Twig template #}

{% extends "master.html.twig" %}

{% block title %}Property Detail{% endblock %}



{% block content %}


    <div>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img class="img-responsive" src="../images/house.jpg" alt="" width="100%">
            </div>

            <div class="item">
                <img class="img-responsive" src="../images/house.jpg" alt=""  width="100%">
            </div>

            <div class="item">
                <img class="img-responsive" src="../images/house.jpg" alt="" width="100%">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel"  data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel"  data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<article class="propertyDetail">
    <hr><h5> FEATURES</h5><hr>

    9 Rooms 2+1 Bedrooms 1+1 Bathrooms/Powder rooms<hr>
    <b>Building style:</b>           	Bungalow, Detached<hr>
    <b>Year built:</b>	1999<hr>
    <b>Lot area:</b>	5,781 pc<hr>
    <b>Parking:</b>	          Driveway (2)<hr>
    <b>Fireplace/Stove:</b>	      Wood fireplace<hr>
    <b>Additional features:</b>	      Basement 6 feet or +<hr>
    <h5> DESCRIPTION</h5><hr>

    <p class="descriotion">
        Beautiful 3 bedroom house, Renovated kitchen and bathroom,Open-plan kitchen, Living room, Dining room.Large basement finished with family room.On corner street, land is fenced. Easy access to Montreal using the train. The bedroom floors from the 2 bedrooms first floor will be changed by the seller.<p>





    <hr> <h5>Map</h5> <hr>
    
</article>

<iframe id="iframe_align" src="https://www.google.com/maps/embed?pb=!1m19!1m8!1m3!1d11204.563689740962!2d-73.9421219236398!3d45.40649776832033!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x0%3A0xd807d74a59dcffcf!2sJohn+Abbott+College!3m2!1d45.4061817!2d-73.94191049999999!5e0!3m2!1sen!2sca!4v1477436261197" width="800" height="200" ></iframe>


<script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script> 






{% endblock content %}

